.project_section {
    padding: 15vh 0 10vh 0;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.rec-arrow {
    background: var(--cardColor);
}

.rec-dot {
    background: var(--cardColor);
}
