.card {
    background: var(--cardColor);
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
    border-radius: 0.5rem;
    width: min(25vw, 30rem);
    height: min(30vw, 30rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem;
    margin: 0.5rem 0;
}

.card_image {
    width: 90%;
    height: 80%;
}

.card_description {
    width: 100%;
    text-align: center;
}

h6 {
    font-size: larger;
}

.card_description_show {
    display: block;
}

.card_link {
    display: flex;
    justify-content: space-between;
}

.card_button {
    width: 30%;
}

@media only screen and (max-width: 600px) {
    .card {
        margin: 0.1rem 0;
        border-radius: 0.5rem;
        width: 10rem;
        height: 34vh;
    }

    h6{
        font-size: 0.7rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {
    .card {
        margin: 0.1rem 0;
        width: 30vw;
        height: 35vw;
    }
    
    .card_description {
        margin-top: -22%;
        height: 20%;
    }

    h6{
        font-size: 2vw;
    }
}