.card {
    background-color: rgb(193, 232, 244);
    border: 2px solid black;
    border-radius: 0.2rem;
    cursor: pointer;
    width: 25vw;
    height: 40vh;
    margin: 0 1.4vw;
}

.card_image {
    width: inherit;
    height: 60%;
}

.card_description {
    text-align: center;
    height: 20%;
}

.card_link {
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    height: 10%;
}

@media only screen and (max-width: 600px) {
    .card {
        margin: 1vh 0;
        width: 22vh;
        height: 22vh;
    }
}