.project_section {
    padding: 5vh 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project_mobile_button {
    display: none;
}

.project_mobile_button_block {
    display: none;
}

.project_button_block {
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: rgb(186, 190, 190);
    opacity: 0.5;
    height: min(40vh, 40vw);
    width: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.project_button {
    scale: 2.5;
}

.project_list {
    position: relative;
    margin: 0 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
    width: 90vw;
    overflow: hidden;
}

.active {
    scale: 1.4;
    z-index: 2;
}

.not-active {
    opacity: 0.5;
}

.active .card_image{
    width: 25vw;
    height: 20vw;
}
.active .card_description {
    margin-top: max(-5vw, -3rem);
    height: min(5vw, 3rem);
    background-color: rgb(206, 235, 248);
}

.active .card_description .card_link {
    width: 100%;
}

.not-active .card_description {
    display: none;
} 

@media only screen and (max-width: 600px) {

    .project_section {
        padding: 14vh 5% 3.5vh;
        flex-direction: column;
    }

    .project_mobile_button_block {
        border-radius: 0.5rem;
        cursor: pointer;
        background-color: rgb(186, 190, 190);
        opacity: 0.5;
        width: 50vw;
        height: 2.7vh;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }

    .project_mobile_button {
        scale: 2;
        display: block;
    }

    .project_button_block {
        display: none;
    }

    .project_button {
        display: none;
    }

    .project_list {
        margin: 1vh 0;
        flex-direction: column;
        height: 74vh;
        overflow: hidden;
    }

    .active .card_image{
        width: 100%;
        height: 78%;
    }

    .active .card_description{
        margin-top: -12%;
        height: 30%;
        background-color: rgb(206, 235, 248);
    }
}